*.bak
*.tar.gz
*.backup*
cache/*
logs/*
.DS_Store
.user.ini
.htaccess
*.backup
*.bak.*
index.php.bak*
index.html.bak*

.well-known/
uat/.well-known/
uat/

css/
js/
fonts/
images/
icons/
scss/
table/
*.html
*.png
*.ico
*.mobileconfig
*.php
!index.php
!table.php
*.js
!index.php
!sw.js

